pkgbase = bootstrap-studio
	pkgdesc = Bootstrap Studio is a powerful tool which web developers and designers use to create layouts and fully functional websites using the Bootstrap framework.
	pkgver = 7.0.3
	pkgrel = 2
	url = https://bootstrapstudio.io/
	arch = x86_64
	license = custom
	source = https://releases.bootstrapstudio.io/7.0.3/Bootstrap%20Studio.AppImage
	source = bstudio.desktop
	sha256sums = 41f219d869f55d3dbb63a074e39d8c3168879c97cf116cbbf55639bd9c6d9721
	sha256sums = e1c1b0d4b24658fc0ead611cb002dcde431e30256cb8fd0dffb3cfc76f24db84

pkgname = bootstrap-studio
